@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* outline: 1px dotted red; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg);
}

html {
  font-size: 16px;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  background-color: var(--bg);
  overflow: hidden;
}

:root {
  --bg: #fcf8fa;
  --text: #0a0407;
  --primary: #bb5383;
  --cta: #d5a595;
  --accent: #cb9e7a;
}

header {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5rem;
  border-bottom: 1px solid var(--text);
}

.logo {
  font-size: 18px;
  text-transform: capitalize;
  a {
    font-weight: 500;
    line-height: 1.2;
    color: var(--text);
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 50px;
}

.date, .btn {
  padding: 0 10px;
  border: 1px solid var(--accent);
  border-radius: 20px;
  font-size: 1rem;
  p {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.btn {
  font-weight: 500;
  text-transform: capitalize;
  border-color: var(--cta);
  background-color: var(--cta);
  color: var(--bg);
  cursor: pointer;
}

main {
  max-width: 90%;
  padding: 20px 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
}

.content, .habit {
  height: 150px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
}

.num {
  font-family: windhavi, serif;
  font-size: 48px;
}

span {
  font-size: 16px;
}

.habits {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.topic {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
}

.habit {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.left p {
  font-size: 12px;
}

.right p {
  font-family: windhavi, serif;
  font-size: 48px;
  line-height: 1;
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.day {
  flex: 1;
  display: flex;
  flex-direction: column;
}

hr {
  height: 4px;
  border: none;
  border-radius: 2px;
  background-color: var(--primary);
}

.day p {
  align-self: center;
  font-size: 16px;
  text-transform: capitalize;
}

.remove {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  align-self: end;
}